<!DOCTYPE html>
<html>
<head>
	<title>Sport Pal</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="/styles/style.css">

	<!-- Game Table -->
	<link rel="stylesheet" href="/styles/games.gamesTable.css">
	<script src="/javascript/games/gameTable.js"></script>
	<!-- My Games View -->
	<link rel="stylesheet" href="/styles/games/myGames.css">
	<script src="/javascript/games/myGames.js"></script>
	<!-- Profile View -->
	<link rel="stylesheet" href="/styles/games/profile.css">
	<script src="/javascript/games/profile.js"></script>
	<!-- Search Game View -->
	<link rel="stylesheet" href="/styles/games/searchGame.css">
	<script src="/javascript/games/searchGame.js"></script>
	<!-- Index -->
	<link rel="stylesheet" href="/styles/login/index.css">
	<script src="/javascript/login/index.js"></script>
	<!-- Login -->
	<link rel="stylesheet" href="/styles/login/login.css">
	<script src="/javascript/login/login.js"></script>
	<!-- Register -->
	<link rel="stylesheet" href="/styles/login/register.css">
	<script src="/javascript/login/register.js"></script>
</head>
<body>
	{{ body }}
</body>
</html>